<h3>Log In to extensively enjoy our services</h3>
<form action="/login" method="POST" className="flex flex-col">
    <div>
        <label for="username">Email Address:</label>
        <input type="email" name="email" id="email" required/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required/>
    </div>
        <button>Log In</button>
</form>
<a href="/signup" className="underline">Create an Account instead.</a>