/**, *::before, *::after {
    box-sizing: border-box;
  }
  .root {
    --accent-color: #641BFF;
    --heading-font-family: 'Poppins', sans-serif;
    --body-font-family: 'Lato', sans-serif;
  }*/
  
  
  .body {
    margin: 0;
    background-color: #F8F9FB;
    min-width: 50vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font-family);
  }
  
  .pricecomparison {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 1rem;
  }
  
  .pricecolumn {
    background-color: black;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
    padding: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 275px;
    border-radius: 8px;
  }
  
  .pricecolumn.popular {
    position: relative;
    background-color: var(--accent-color);
    box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
    color: white;
    margin-top: -1.5rem;
    padding-top: 3.5rem;
    margin-bottom: -1.5rem;
    padding-bottom: 3.5rem;
  }
  
  .pricecolumn:first-child {
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
  }
  
  .pricecolumn:last-child {
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
  }
  
  .priceheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--heading-font-family);
    font-weight: bold;
  }
  
  .price {
    font-size: 3.5rem;
    display: flex;
    color: white;
  }
  
  .dollarsign {
    font-size: 1.5rem;
    margin-top: .5rem;
    margin-right: .25rem;
  }
  
  .permonth {
    font-size: .75rem;
    align-self: flex-end;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
  }
  
  .planname {
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: white;
    text-decoration: underline;
  }
  
  .divider {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .pricecolumn.popular .divider {
    background-color: rgba(255, 255, 255, .2);
  }
  
  .feature {
    display: flex;
    align-items: center;
    margin: .5rem;
    color: white;
  }
  
  .feature img {
    height: 1.1em;
    width: 1.1em;
    margin-right: .5rem;
  }
  
  .feature.inactive {
    color: #999;
    text-decoration-line: line-through;
  }
  
  .mostpopular {
    position: absolute;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--heading-font-family);
  }
  
  .cta {
    border: 3px maroon solid;
    color: white;
    padding: .75rem 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
    margin-top: 3rem;
    transition: 100ms;
    transform: scale(1);
  }
  
  .pricecolumn.popular .cta {
    background-color: white;
    color: var(--accent-color);
  }
  
  .cta:hover, .cta:focus {
    transform: scale(1.1);
  }